

body{
	font-family: 'Raleway', sans-serif;
	background: fixed linear-gradient(rgba(255, 0, 0, 0.3), rgba(0, 0, 150, 0.8));
	color: white;
	margin: 0;
}

.images {
	display: flex;
	justify-content: center;

}

a{
	text-decoration: none;
	color: white;
}
a, footer, .home_header, .about {
	text-align: center;
}


footer{
	margin: 20px;
}

header h1{
	font-size: 35px;
	letter-spacing: 2px;
	margin-bottom: 5px;
	text-transform: uppercase;
}

header div{
	font-size: 25px;
	margin-bottom: 10px;
}

header a:hover{
		color: rgba(250, 25, 0, 0.5);
}

.container{
	margin: 0 auto;
	width: 80%;
	max-width: 960px;
	

}



.ali a, .aaron a{
	
	height: 100%;
	vertical-align: middle;
	display: table-cell;
	font-size: 65px;
	letter-spacing: 2px;
	font-style: italic;
	opacity: 0;
}

.ali a:hover, .aaron a:hover{
	opacity: 1;

}

.ali, .aaron {
	width: 320px;
	height: 480px;
	max-width: 960px;
	margin: 15px;
	display: table;
	border-radius: 5px;
}

.ali:hover{
	background: linear-gradient(
      rgba(255, 0, 0, 0.2), 
      rgba(0, 0, 150, 0.4)
    ), url(../images/ali.jpg);
    background-size: cover;
}

.aaron:hover{
	background: 
	linear-gradient(
      rgba(0, 0, 150, 0.4), 
      rgba(255, 0, 0, 0.2)
    ),
    url(../images/aaron.jpg);
        background-size: cover;
}

.ali{
	background: 
    linear-gradient(
      rgba(255, 0, 0, 0.3), 
      rgba(0, 0, 150, 0.6)
    ),
    url(../images/ali.jpg);
    background-size: cover;

}

.aaron{
	background: 
	linear-gradient(
      rgba(0, 0, 150, 0.6), 
      rgba(255, 0, 0, 0.3)
    ),
    url(../images/aaron.jpg);
        background-size: cover;
}

.about{
	width: 50%;
	font-size: 22px;
	padding: 20px;
	border-radius: 15px;
	background-color: rgba(255, 255, 255, 0.1);
	box-shadow: 0px 5px 10px black;
	margin: 0 auto;
	margin-top: 20px;	
}

.about h2{
	text-align: center;
	border-bottom: solid white 1px;
}

main{
	display: grid;
    grid-template-areas:"header header"
    					"first second"
                        "third third";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 1fr 0.5fr;
    grid-gap: 15px;
}



main h2{
	font-size: 30px;
	grid-area: header;
}

main h3{
	font-style: italic;
}

main p{
	text-align: justify-all;
}

.first{
	grid-area: first;
}

.second{
	grid-area: second;
}

.third{
	grid-area: third;
}

@media screen and (max-width: 780px){
	.container{
		width: 95%;
		padding: 20px;

	}
	.about{

		background-color: rgba(255, 255, 255, 0);
		box-shadow: none;
		margin: 0 auto;
		text-align: left;
		width: 95%;
	}
	.images{
		width: 100%;
		display: table;
		justify-content: center;
	}

	.images div{
		margin: 0 auto;
		margin-bottom: 20px; 
	}
	main {
		display: inline-block;
	}
}

@media screen and (max-width: 480px){
	.container{
		width: 100%;
		padding: 0px;
	}

	.about{

		padding: 0;
		margin: 0;
	}

	.about h2{
		font-size: 24px;
		text-align: left;
		border-bottom: none;
	}

	body{
		padding: 15px;
		margin: 0;
	}

	header a{ color: rgb(250, 150, 0);}

	



